<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>terrain model</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />

    <style>
      #mapid {
        height: 380px;
        width: 480px;
      }
    </style>
  </head>
  <body>
    <div id="mapid"></div>
    <div class="slidecontainer">
      <input
        type="range"
        min="50"
        max="10000"
        value="50"
        class="slider"
        id="myRange"
      />
    </div>
    <div class="minmaxcontainer">
      <label id="minlabel">0</label>
      <label id="maxlabel">8848</label>
    </div>
    <!-- Leaflet's library -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Main tangram library -->
    <script src="https://unpkg.com/tangram/dist/tangram.min.js"></script>
    <script>
      var url = "{% static 'terrainmap/' %}";
    </script>
    <script src="{% static 'terrainmap/main.js' %}"></script>
  </body>
</html>
